spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: postgres
    password: 123

  jpa:
    hibernate:
      ddl-auto: update   # or validate / none / create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
